# deps
node_modules/

# Next.js
.next/
out/

# builds
dist/
build/

# env
.env*
!.env.example

# IDE/editor
.vscode/
.idea/
.vs/

# vercel + coverage
.vercel/
coverage/

# logs + misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
